body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #291720;
  color: rgb(245, 239, 241);
  font-family: "Lato";
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700";


.App {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.App .TrackList {
  background: whitesmoke;
  overflow-y: auto;
}
.App .TrackList li {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 300;
}
.App .TrackList li:hover {
  background: #39202d;
  cursor: pointer;
  color: #d90368;
}
.App .TrackList li:hover .duration {
  opacity: 1;
}
.App .TrackList li .title {
  margin-left: 10px;
  font-weight: 500;
  letter-spacing: 0.12em;
}
.App .TrackList li .duration {
  margin-left: auto;
  opacity: 0.25;
}

.all-generes {
  list-style-type: none;
  padding: 10px;
  color: rebeccapurple;
  font-size: 10px;
}

.playlist-card {
  width: 150px;
  height: 150px;
  margin-bottom: 0px;
  overflow: hidden;
  /* vertical-align: top; */
  display: inline-block;
  position: relative;
  padding: auto;
}

div.side-menu {
  width: 50%;
  height: 100vh;
  /* position: absolute; */
  background:#291720;
  z-index: 98;
  margin: auto;
  list-style: none;
}


div.side-menu ul {
  margin: 25px;
  z-index: 99 !important;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
}

div.side-menu li {
  color: #aaa;
  padding: 16px 0 13px 28px;
  z-index: 99;
}

div.side-menu li.active {
  color: #fff;
}

div.side-menu li a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  z-index: 100;
}

div.side-menu li a i {
  margin-right: 7px;
}

.tab-selector {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;
}

.controls {
  position: sticky;
  bottom: 10;
  width: 300%;
  box-shadow: 0 -4px 10px -2px #222;
  margin: auto;
  background-color: #FAFAFA;
  padding: 20px;
  overflow: auto;
}

.controls .media-control-button {
  width: 100px;
  height: 30px;
  font-size: 20px;
  vertical-align: middle;
  background-color: #fafafa;
  border: none;
  color: #5a5a5a;
}


.position {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.icon {
  position: absolute;
  right: -20px;
  bottom: -20px;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 4px solid white;
  background: blue;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  background: black;
  transform: scale(1.7);
  cursor: pointer;
}

